@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-slate-900: #0f172a;
}

body {
  background-color: var(--color-slate-900);
  color: white;
  margin: 0;
  font-family: var(--font-sans);
}